body {
    margin: 0;
}

.conatiner {
    display: grid;
    grid-template-areas:
        "header header header"
        "stats game game";
    grid-template-columns: 10rem;
}

header {
    grid-area: header;
    border-bottom: 0.1px solid rgba(123, 123, 123, 0.6);
    background: #515151;
    height: 100px;
}

.grid-bar {
    grid-area: stats;
    display: flex;
    justify-content: center;
    border-right: 0.1px solid rgba(94, 93, 93, 0.8);
    background: #2b2b2b;
    height: 100vh;
}

.rss-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.rss-num {
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
}

input {
    width: 50px;
    background: grey;
    border-radius: 5px;
}

.rss-flex h3, p {
    color: white;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.food,
.wood,
.stone,
.iron,
.soldiers {
    margin-right: 15px;
}

.grid-content {
    grid-area: game;
    background: #3d3d3d;
    height: 100vh;
}