body {
    margin: 0;
}

.conatiner {
    display: grid;
    grid-template-areas:
        "header header header"
        "stats game game";
    grid-template-columns: 10rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid rgba(123, 123, 123, 0.6);
    background: #515151;
    height: 100px;
}

.grid-bar {
    grid-area: stats;
    display: flex;
    justify-content: center;
    border-right: 0.1px solid rgba(94, 93, 93, 0.8);
    background: #2b2b2b;
    height: 100vh;
}

.rss-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.rss-num {
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
}

input {
    width: 60px;
    background: grey;
    border-radius: 5px;
}

.rss-flex h3,
p {
    color: white;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.food,
.wood,
.stone,
.ore,
.soldiers {
    margin-right: 15px;
}

.grid-content {
    grid-area: game;
    background: #3d3d3d;
    height: 100vh;
}

.grid-content h3,
.buttons {
    display: flex;
    justify-content: center;
}

.kingdom-flex {
    display: flex;
    justify-content: space-around;
}

.outer {
    display: flex;
    margin: 20px;
}

#messageBoard {
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 90, 90);
    height: 200px;
    width: 100%;
    line-height: 1px;
    overflow-y: scroll;
    padding: 5px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 10px;
    text-align: center;
}